


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.form-control {
    width: 300px;
    margin: 10px;
}

.text-control {
    width: 300px;
    margin: 10px;
}